/** -- Jumpow -- Specific settings ------------------------- */
.search-bids-holder {
  clear: both;
  margin: 5pt;
}
.search-bids-holder ul li {
  width: 33.3%;
  float: left;
}
.row-values-holder {
  float:left;
  margin: 0 0.5em 0 0
}
.number-of-bids {
  float: left;
  padding 2em 0;
}
.space-up {
  margin: 0.5em 0 0 0
}
.search-list-holder {
  clear: both;
  margin: 0.3em;
}
.search-list-holder ul li {
  width: 50%;
  float: left;
  margin: 0.3em 0 0.3em 0;
}

.item-description {
  /*margin: 0 15pt 0 15pt; */
}

.money-field {
  float: left;
  width: 50pt;
  margin: 0 1em 0 0 ;
}

.bids-form-element {
  margin: 0 0 0.5em 0;
  float: none;
}
.field-header {
  /*height: 0.5em;*/
  margin: 1em 0 0 0;
}

.bids-panel {
  float: none;
}
.bids-subpanel {
  float: left;
  margin: 0 1em 0 0;
}
.bids-current {
  float: left;
  margin: 0 1em 0 0;
}

.find-button {
  width: 10em;
}
.row-values-item {
  float: none;
}
 .item-description {
    float: left;
}

.bids-item-name {
  float:right;
  width: 66%;
  margin: 0 0 0 0;
}
.search-list-holder h2 {
    margin: 0;
    padding: 0;
}
.bids-item-image img {
    width: 100%;
}
.bids-item-image {
  float:left;
  width: 33%;
}
.bids-item-description {
  float:right;
  width: 66%;
  padding:0.5em;
}
/** -------------------------------------------------------------------------------- */
@media screen and (max-width:768px){
  .logo {
    width:80%;
  }
  .user-account-nav {
    display: none;
  }
  /*
  .product-thumb, .product-description-holder {
    float: none;
  }
  */
  .search-list-holder ul li {
    width: 100%;
    float: none;
    clear:both;
    margin: 5pt 0 5pt 0;
  }
  .search-bids-holder ul li {
    width: 100%;
    clear:both;
    float: none;
  }
  .bids-form-element {
    margin: 0 0.5em 0 0;
    float: left;
  }
  .field-header {
    margin: 1em 0 0 0;
  }

  .bids-subpanel {
    float: none;
    clear:both;
    margin: 0 1em 0 0;
  }
  .bids-current {
    float: left;
    margin: 0 1em 0 0;
  }
}

@media screen and (max-width:400px) {
  .logo {
    width:80%;
  }
  .user-account-nav {
    display: none;
  }
  /*
  .product-thumb, .product-description-holder {
    float: none;
  }
  */
  .search-list-holder ul li {
    width: 100%;
    float: none;
    clear:both;
    margin: 5pt 0 5pt 0;
  }
  .search-bids-holder ul li {
    width: 100%;
    clear:both;
    float: none;
  }
  .bids-form-element {
    margin: 0 0.5em 0 0;
    float: left;
  }
  .field-header {
    margin: 1em 0 0 0;
  }

  .bids-subpanel {
    float: none;
    clear:both;
    margin: 0 1em 0 0;
  }
  .bids-current {
    float: left;
    margin: 0 1em 0 0;
  }
  .row-values-holder {
    float:none;
  }
  .row-values-item {
    float: left;
    width: 6em;
  }
  .item-description {
    float: left;
  }
  .product-thumb {
    float: none;
  }
  .bids-item-name {
    float:none;
    width: 66%;
    margin: 0 0 0 0;
  }
}